
test.php
*.o
*.o.*
*.d
*.def
*.dll
*.dylib
*.xml
*.exe
*.exp
*.gcda
*.gcno
*.h.c
*.ilk
*.lib
*.log
*.pc
*.pdb
*.sh
*.so
*.so.*
*.swp
*.ver
*.version
*.ptx
*.ptx.c
*_g
\#*
.\#*
/.config
/.version
/vendor

